<ng-container *ngIf="authService.loggedUser as user; else showLogin">
  <div class="container-fluid user-header">
    <div class="container">
      <div class="row">
        <div class="col-4 col-md-7 align-items-center">
          <app-header></app-header>
        </div>
        <div class="col-6 col-md-2 d-flex align-items-center">
          <form>
            <select class="form-control" name="selectedBrecho" [(ngModel)]="brechoService.selectedBrecho">
              <option *ngFor="let brecho of brechos" [ngValue]="brecho">{{brecho.nome}}</option>
            </select>
          </form>
        </div>
        <div class="col-1 col-md-3 user-info">
          <div class="d-none d-sm-block">
            <p class="user">Olá,</p>
            <small>{{ user.displayName }}</small>
          </div>
          <img [src]="user.imageUrl" [alt]="user.displayName" class="d-none d-sm-block">
          <a (click)="logout()" class="sign-out">
            <i class="fas fa-sign-out-alt"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="container mt-3">
    <router-outlet></router-outlet>
  </div>
</ng-container>

<ng-template #showLogin>
  <div class="login-container">
    <div class="login-wrapper">
      <div>
        <h1>Sistema Brechó</h1>
        <p>Sylvia Paschoal</p>
      </div>
      <button class="btn btn-light btn-lg" (click)="loginGoogle()">Entrar</button>
    </div>
  </div>
</ng-template>
